<mat-toolbar color="primary">
  <span>Personal Library</span>
  <span class="toolbar-spacer"></span>
  
  <!-- Show navigation only when logged in -->
  <ng-container *ngIf="currentUser">
    <a mat-button routerLink="/books">Browse Books</a>
    <a mat-button routerLink="/books/add">Add Book</a>
    
    <!-- User menu -->
    <button mat-button [matMenuTriggerFor]="userMenu">
      User: {{ currentUser.username }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
  
  <!-- Show login/register when not logged in -->
  <ng-container *ngIf="!currentUser">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </ng-container>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
